.project-item {
  margin-right: 25px;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px #e6e9ec;
  border-radius: 10px;
}

.project-img {
  height: 180px;
  width: 210px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.name {
  font-family: 'Consolas';
  margin: 8px;
}
